table td, table td * {
    vertical-align: top;
}

body{
    background-color: #1A1E1F;
    color:#ffffff ;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 40px;
}
#container {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.choose{
 background-color: #ffffff;
 color:white ;

}

.center {
    background-color: #283234;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 10px;
    
}

.center h2{
    text-align: center;
    padding: 10px;
    background-color: #333D3F;
    border-radius: 10px 10px 0px 0px;
}


.center form {
   
    margin: 40px;
    margin-top: 10px;
    
}

.center form input[type=text]{
    border-radius: 5px;
    height:30px;
    width: 200px;
    background-color:#5F6364 ;
    color: white;
    margin-bottom: 10px;
}

.center form input[type=text]:focus {
    border: 0px solid #555;   
}

.center form input[type=submit]{
    border-radius: 5px;
    height:30px;
    width: 200px;
    background-color:#02D868 ;
    color: white;
    margin-bottom: 50px;
}

.center  a {
    padding-left:30px;
    text-align: center;
    color: #0AAE5C;
    font-size: 14px;
   
}




.graph script{
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}